@font-face {
  font-family: "antic";
  src: url(fonts/Antic_Slab/AnticSlab-Regular.ttf);
}

@font-face {
  font-family: "junge";
  src: url(fonts/Junge/Junge-Regular.ttf);
}

@font-face {
  font-family: "open";
  src: url(fonts/OpenSans/OpenSans-Regular.ttf);
}

.menu {
  font-family: "open";
}

h1 {
  font-family: "antic";
}

h2 {
  font-family: "junge";
}

h3 {
  font-family: "antic";
}

p {
  font-family: "open";
}

.container {
  font-family: "open";
}

main {
  margin-top: 4rem;
  margin: 0 auto;
}

/* @media (width>=800px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #58320c;
    border-radius: 10px;
  }
} */
