@font-face {
  font-family: "antic";
  src: url(fonts/Antic_Slab/AnticSlab-Regular.ttf);
}

@font-face {
  font-family: "junge";
  src: url(fonts/Junge/Junge-Regular.ttf);
}

@font-face {
  font-family: "open";
  src: url(fonts/OpenSans/OpenSans-Regular.ttf);
}

.menu {
  font-family: "open";
}

h1 {
  font-family: "antic";
}

h2 {
  font-family: "junge";
}

h3 {
  font-family: "antic";
}

p {
  font-family: "open";
}

.container {
  font-family: "open";
}

a {
  font-family: "open";
}

hr {
  color: #58320c;
}

@media (width>=800px) {
  /* SIDE: OM MIG */
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    justify-content: center;
  }

  .mig {
    align-content: center;
    border-radius: 10px;
  }

  /* MAIN */
  main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 4rem;
  }
}

/* MOBIL */

@media (width<=800px) {
  main {
    margin-top: 5rem; /* så der ikker er noget der bliver skjult under headeren*/
  }
}
