/*////////// HEADER FOR ALLE SIDER  //////////*/

header {
  position: fixed;
  top: 0; /* placerer det helt oppe. */
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; /*  sørger for at header ligger over alt andet. */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

a {
  color: black;
  text-decoration: none; /*fjerner stregen under*/
  padding: 1rem;
}

nav a {
  background-color: white;
  border: 2px solid #58320c; /* stroke-farve */
  padding: 10px 10px;
  margin-right: 3rem;
  border-radius: 5px; /* afrundede hjørner */
}

.menu a:hover {
  color: white;
  background-color: #58320c;
  transition: 0.3s ease;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

/*////////////// SIDE - FORSIDE ////////////////*/

/* BAGGRUNDSBILLEDE INDEX*/
.forside {
  background-image: url(img/forside-grafik7.svg);
  background-size: cover; /*fylder hele baggrunden*/
  margin: 0;
  background-repeat: no-repeat; /*gentager ikke billedet*/
  background-attachment: fixed;
}

/*//////////// SIDE - PROJEKTER ////////*/

/* BAGGRUNDSBILLEDE PÅ PROJEKTER*/

.forside2 {
  background-image: url(img/baggrund-grafik8.svg);
  background-size: cover; /* Fylder hele skærmen */
  background-repeat: no-repeat; /* Forhindrer gentagelse */
  background-position: center; /* Centrerer billedet */
}

/* MAIN */

h1,
h2 {
  text-align: center; /* teksten står centreret */
}

/* PROJEKTER - BOX */

.container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap; /* så bokse der ikke kan være på en linje hopper ned */
  gap: 10rem;
  justify-content: center; /* sikrer centreret layout både vandret og lodret. */
  align-items: center; /* sikrer centreret layout både vandret og lodret. */
}

.box {
  width: 250px;
  aspect-ratio: 16/ 16; /* bredte og højde ift. hinanden */
  border-radius: 20px; /* afrundede hjørner */
  background-color: white;
  border: 2px solid #58320c; /* stroke-farve */
  overflow: hidden;
  position: relative;
  display: flex;
  text-align: center; /* teksten står centreret */
  justify-content: center;
  align-items: center;
  font-size: l; /* teksten bliver større*/
}

.box:hover {
  transform: scale(1.03); /* boksen bliver større når hover */
  transition: transform 0.3s ease; /* gør at der er en smooth transition fra boksens originale form til at boksen bliver større */
}

a.blå:hover {
  color: #123fa2; /* teksten bliver blå når hover */
}

/* SIDE - OM MIG - GRID */

/* PORTRÆT BILLEDE */
.mig {
  height: auto;
  max-width: 100%;
}

.OM-tekst {
  text-align: center;
}
.grid-1-2 {
  margin-top: 5rem; /* giver luft mellem h2 og sektion */
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 10px;
  padding: 2rem;
}

/*//////////// SIDE - TEMA 2 - GRID /////////////*/

.t2-intro {
  text-align: center;
  margin-bottom: 2rem;
}

/* BESØG TEMA 2 KNAP */
.t2-btn1 {
  display: inline-block;
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 5px;
}

a.t2-btn1:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

.t2-grid {
  text-align: center;
  background-color: #f4f1f1;
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  margin-bottom: 4rem; /* giver luft mellem denne og den næste sektion */
  padding: 1rem;
}

/* TEKST */
.tekst {
  display: block;
  margin-bottom: 2rem; /* giver luft under tekst og imellem knap */
}

/* SE GRID KNAP*/
a.t2-btn {
  display: inline-block;
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 5px;
}

a.t2-btn:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

.t2-btn {
  margin-bottom: 1rem;
  text-align: center;
}

/*//////////// SIDE - TEMA 2 - A-TAG CTA /////////////*/

.t2-cta {
  text-align: center;
  background-color: #f4f1f1;
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  padding: 1rem;
}

.a_tag-img {
  max-width: 100%; /* gør aldrig billedet bredere end sit forældre-element. */
  height: auto; /* bevarer billedets proportioner. */
  margin-bottom: 2rem; /* giver plads mellem billede og knap */
  width: 50%;
}

/*//////////// SIDE - TEMA 3 - MOODBOARD /////////////*/

.t3-intro {
  text-align: center;
  margin-bottom: 2rem;
}

/* BESØG TEMA 3 KNAP */
.t3-btn1 {
  display: inline-block;
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 5px;
}

a.t3-btn1:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

/* TEKST OG BILLEDE MOODBOARD */
.moodboard {
  text-align: center;
  background-color: #f4f1f1;
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  margin-bottom: 4rem;
  padding: 1rem;
}

/* TEKST */
.tekst {
  display: block;
  margin-bottom: 2rem; /* giver luft under tekst og imellem knap */
}

/* SE STIL OG TONE PÅ TEMA 3 PROJEKT / SE MIT FAVICON PÅ TEMA 3 PROJEKT */
a.t3-btn {
  display: inline-block;
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 5px;
}

a.t3-btn:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

.t3-btn {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem; /* luft mellem knap og tekst */
}

/*//////////// SIDE - TEMA 3 - FAVICON /////////////*/

/* TEKST */
.tekst {
  display: block;
  margin-bottom: 2rem; /* giver luft under tekst og imellem knap */
}

/* TEKST OG BILLEDE */
.favicon {
  text-align: center;
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  padding: 1rem;
  background-color: #f4f1f1;
}

/* FAVICON BILLEDE T3 */
.fav-t3_img {
  max-width: 100%; /* gør aldrig billedet bredere end sit forældre-element. */
  height: auto; /* bevarer billedets proportioner. */
  width: 50%;
}

/*//////////// SIDE - TEMA 4 - ADOBE ILLUSTRATOR /////////////*/

.t4-intro {
  text-align: center;
  margin-bottom: 2rem;
}

/* BESØG TEMA 4 KNAP */
.t4-btn1 {
  display: inline-block;
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 5px;
}

a.t4-btn1:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

/* TEKST OG BILLEDE ADOBE ILLUSTRATOR */
.illustrator {
  text-align: center;
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  margin-bottom: 4rem; /* giver plads mellemdenne og næste sektion */
  padding: 1rem;
  background-color: #f4f1f1;
}

/* TEKST */
.tekst {
  display: block;
  margin-bottom: 2rem; /* giver luft under tekst og imellem knap */
}

.illustrator-t4_img {
  max-width: 100%; /* gør aldrig billedet bredere end sit forældre-element. */
  height: auto; /* bevarer billedets proportioner. */
  width: 50%; /* 50% af bredden på det originale billede */
}

/* SE MIN ILLUSTRATION FRA TEMA 4 KNAP */
a.t4-btn {
  display: inline-block;
  border: 2px solid #58320c;
  border-radius: 5px;
  margin-top: 2rem;
  background-color: white;
}

a.t4-btn:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

.t4-btn {
  text-align: center;
  margin-bottom: 1rem;
}

/*//////////// SIDE - TEMA 4 - JAVASCRIPT /////////////*/

/* TEKST OG BILLEDE ADOBE ILLUSTRATOR */
.javascript {
  text-align: center;
  margin-bottom: 4rem; /* giver plads mellem denne og næste sektion */
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  padding: 1rem;
  background-color: #f4f1f1;
}

/* TEKST */
.tekst {
  display: block;
}

.js-t4_img {
  max-width: 100%; /* gør aldrig billedet bredere end sit forældre-element. */
  height: auto; /* bevarer billedets proportioner. */
  width: 70%; /* 70% af bredden på det originale billedet */
}

/*//////////// SIDE - TEMA 5 - LOTTIEFILE /////////////*/

.t5-intro {
  text-align: center;
  margin-bottom: 2rem;
}

/* BESØG TEMA 5 KNAP EMNESITE */

.t5-btn1 {
  display: inline-block;
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 5px;
  margin-right: 1rem;
}

.t5-btn1:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

/* BESØG TEMA 5 KNAP VIRKSOMHEDSSITE */

.t5-btn2 {
  display: inline-block;
  background-color: white;
  border: 2px solid #58320c;
  border-radius: 5px;

  margin-top: 1rem;
}

.t5-btn2:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

/* TEKST OG BILLEDE LOTTIEFILE */
.lottie-t5_img {
  max-width: 100%; /* gør aldrig billedet bredere end sit forældre-element. */
  height: auto; /* bevarer billedets proportioner. */
  width: 70%;
}

.lottie-t5 {
  text-align: center;
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  margin-bottom: 4rem; /* giver plads mellem tekst og knap */
  padding: 1rem;
  background-color: #f4f1f1;
}

/* SE MIN LOTTIEFILE TEMA 5*/
a.t5-btn {
  display: inline-block;
  border: 2px solid #58320c;
  background-color: white;
  border-radius: 5px;
  margin-top: 2rem;
}

a.t5-btn:hover {
  color: #123fa2;
  transition: 0.3s ease;
  transform: scale(1.03);
}

.t5-btn {
  text-align: center;
  margin-bottom: 1rem;
}

/*//////////// SIDE - TEMA 5 - REDESIGN OG BILLEDETAGNING /////////////*/

/* TEKST OG BILLEDE / REDESIGN OG BILLEDETAGNING */

.billedetagning-t5_img {
  max-width: 100%; /* gør aldrig billedet bredere end sit forældre-element. */
  height: auto; /* bevarer billedets proportioner. */
  width: 70%; /* 70% af bredden på orginale billede */
}

/* TEKST OG BILLEDE */
.billedetagning {
  text-align: center;
  margin-bottom: 4rem; /* giver plads mellem tekst og knap */
  border: 2px solid #58320c; /* giver en kant og stroke-farve */
  border-radius: 5px; /* afrundede hjørner */
  padding: 1rem;
  background-color: #f4f1f1;
}

/* TEKST */
.tekst {
  display: block;
}

/* FOOTER FORSIDE */

.hide {
  display: none; /* elementet vises ikke i layoutet. */
  opacity: 0; /* elementet er helt gennemsigtigt */
}

/* når denne klasse tilføjes, bliver elementet synligt og får en animation: */
.fadeIn {
  display: block; /* elementet vises igen */
  animation: fadeIn 1s ease forwards; /* 1s: animationen varer 1 sekund. EASE: gør animationen blødere i starten og slutningen. FORWARDS: Betyder, at den endelige stil (opacity 1) bevares bagefter*/
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

/* FOOTER FORSIDE (JAVASCRIPT) */
@keyframes fadeIn {
  from {
    opacity: 0; /*starter helt gennemsigtig */
  }
  to {
    opacity: 1; /*slutter med fuld synlighed*/
  }
}

.navn {
  color: #123fa2;
}

/* FOOTER */
footer {
  padding: 1rem;
  text-align: end;
}
